@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #333;
}
.cf:after {
    content: '';
    clear: both;
    display: block;
}
header {
    width: 1200px;
    height: 100px;
    background-color: #aaa;
    display: flex;
    position: relative;
}
header .logo {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    width: 800px;
    background-color: gray;
    font-size: 20px;
    top: 30px;
    left: 300px;
    position: absolute;
}
nav ul li {
    text-align: center;
    line-height: 30px;
    width: 200px;
    float: left;
}
nav ul li a {
    background-color: darkred;
    color: #fff;
    display: block;
}
nav ul li a:hover {
    background-color: #fff;
    color: #333;
}
nav ul ul li a {
    display: block;
    background-color: gray;
    color: #fff;
}
nav ul ul {
    width: 100%;
    display: none;
}