@charset "utf-8";
* {
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #333;
}
.cf:after {
    content: '';
    display: block;
    clear: both;
}
.wrapper {
    width: 1200px;
    margin:0 auto;
}
header {
    height: 100px;
    background-color: #aaa;
}
header .logo {
    width: 200px;
    height: 100%;
    background-color: #999;
    float: left;
}
header nav {
    width: 1000px;
    height: 100%;
    background-color: #888;
    float: right;
}
.slide {
    height: 300px;
    background-color: #bbb;
}
main {
    height: 200px;
    background-color: #ccc;
    display: flex;
}
main div {
    width: 400px;
    height: 100%;

}
.notice {
    margin: 10px 20px;
}
.notice h2 {
    margin-bottom: 1rem;
}
.notice ul {
    line-height: 30px;
}
.notice ul li {
    cursor: pointer;
}
.notice ul li a{
    margin: 1px 10px;
    
}
.notice ul li:nth-of-type(even){
    background-color: #555;
    color: #fff;
}
.notice ul li:nth-of-type(odd){
    background-color: #fff;
    color: #555;
}
main .banner {
    background-color: #666;
}
main .link {
    background-color: #555;
}
footer {
    height: 100px;
    background-color: #ddd;
    display: flex;
}
footer .logo{
    width: 200px;
    background-color: #444;
}
footer .copy{
    width: 800px;
    background-color: #333;
}
footer .sns{
    width: 200px;
    background-color: #222;
}
#popup {
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    /* display: none; */
    background-color: rgba(0,0,0,0.6);
    visibility: hidden;
    opacity: 0;
    transform: opacity 0.4s;
}
#popup .popup_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    width: 500px;
    height: 150px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    padding: 20px;
}
#popup .popup_content h2 {
    text-align: center;
}
#popup .popup_content p {
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#popup .popup_content .close{
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: inline;
    background-color: #222;
    color:#fff;
    padding: 5px;
    cursor: pointer;
}
#popup .active {
    visibility: visible;
    opacity: 1;
}